html, body, #root{
    height: 100%;
}

.dropdown-toggle::after{
    display: none;
    content: "";
}

.username::after{
    display: inline;
    content: "";
    margin-left: 10px;
}


.sidebar, footer{
    border-top: 1px solid #bbb;
}

.hidden{
    display: inherit;
}

.value .units, .more{
    display: none;
}
/* .monitor{
    height: 250px;
} */
@media (max-width: 575.98px) {
    .monitor{
        margin: auto;
    }

    .value .units, .more{
        display: inline;
    }

    .hidden{
        display: none;
    }

    .controls{
        justify-content: space-around;
    }
 }

 
 @media (min-width: 575.98px) {
     .nav-link{
         padding: 0.5rem 0.5rem;
     }
  }