.loading-screen{
    height: 100vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spinner{
    width: 150px;
    height: 150px;

    border: 16px solid #ccc;
    border-top: 16px solid blue;
    border-radius: 50%;

    animation: 1s spin linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}